
.flip3D{
  text-align: center;
  width:240px; height:200px; margin:10px; float:left;}
.flip3D > .front{
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
    background:yellow; width:240px; height:200px; border-radius: 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .5s liner 0s;
  }

.flip3D > .back{
    position: absolute;
    -webkit-ransform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);
    background: #80BFFF; width:240px; height:200px; border-radius: 7px;
    -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    transition: -webkit- transform.5s liner 0s;
  }
  .flip3D:hover > .front{
    -webkit-ransform: perspective(600px) rotateY(-180deg);
    transform: perspective(600px) rotateY(-180deg);
  }
  .flip3D:hover > .back{
    1webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);

  }

h1{
  text-align: center;
  background-color: tomato;
}

.topnav{
  background-color: #333;
  overflow: hidden;
  text-align: center;
}

.topnav a{
  float:left;
  color:#f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font- size: 17px;
}

.topnav a:hover{
  background-color: #ddd;
  color:black;
}
.topnav a.active{
  background-color: #4CAF50;
  color: white;
}
.middle_content{
  position:relative;
}
.middle_image{
  width:100%;
}
.my_form{
  position:absolute;
   top: 10px;
   left: 10px;
}

h2{
  text-align: center;
  padding: 20px;
}
h3{
  font-size:40px;
  color:#000;
  margin-left: 550px;
}

.name_input{
  margin: .75rem .5rem;
  width:150px;
}

.email_input{
  margin: .75rem .5rem;
  width: 150px;

}
textarea{
  text-align:right;
  width:150px;
  margin-left:20;
  margin-top:10;

}
.Sign_Up{
  padding-top: 50px;
  margin-top:5px;
  text-align: right;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.submit_button{
  margin-left:600px;
  margin-top:20px;

}

*{
  margin: 0;
  padding:0;

}

 .content2{
   width: 100%


 }


.content3{
  width: 100%

}
.flip3D{
  text-align: center;
}

.footer{
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  background-color:black;
  color: white;
  text-align: center;
